/* main.css */
/*
html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .demo-logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.3);
    margin: 16px 24px 16px 0;
    float: left;
  }
  
  .ant-layout {
    min-height: 100%;
  }
  
  .ant-layout-header {
    background: #001529;
  }
  
  .ant-layout-content {
    padding: 24px;
  }
  
  .ant-layout-footer {
    text-align: center;
    background: #001529;
    color: white;
  }

  .breadcrumb-container {
    margin: 16px 0;
  }
  */
  /* styles.css */
.menu-item-anasayfa {
  background-color: #7db7ce !important;
  font-size: 20px;
  font-weight: 700;
  padding-left: 200px;
  border: rgb(8, 20, 72) solid 3px;
}

.menu-item-takvim {
  background-color: #7db7ce !important;
  font-size: 20px;
  font-weight: 700;
  border: rgb(8, 20, 72) solid 3px;
}

.menu-item-yapilacaklar {
  background-color: #7db7ce !important;
  font-size: 20px;
  font-weight: 700;
  border: rgb(8, 20, 72) solid 3px;

}

.menu-item-raporlar {
  background-color: #7db7ce !important;
  font-size: 20px;
  font-weight: 700;
  border: rgb(8, 20, 72) solid 3px;
}
.log-out-button{
  background-color: #f44a30;
  border-radius: 10%;
  text-align: center;
  padding-bottom: 46px;
  font-size: 20px;
  padding-top: 15px;
}
.takvim-sidebar{
  background-color: #95cee4 !important;
  color: white !important;
  font-weight: 700;
  font-size: 18px;
}
.filtre-sidebar{
  background-color: #95cee4 !important;
  color: white !important;
  font-weight: 700;
  font-size: 18px;
}
.rutin-sidebar{
  background-color: #95cee4 !important;
  color: white !important;
  font-weight: 700;
  font-size: 18px;
}
.calendar-container {
  padding: 15px; /* Adjust the padding value as needed */
  background-color: white; /* Optional: Add background color if needed */
  border-radius: 8px; /* Optional: Add border radius if needed */
}
